@page "/admin/categories/create"

@inject HttpClient HttpClient
@inject InMemoryDatabaseCache InMemDb

<main class="admin-area-main">
    <Sidebar />

    <div class="admin-area-content container-fluid bg-white">
        <div class="row g-0">
            <div class="col">
                <h1 class="mb-4">@(_createSuccessful ? "Create Success!" : "Create Category")</h1>

                @if (_attempCreate)
                {
                    <h1>Creating category...</h1>
                }
                else if (!_createSuccessful && !_attempCreate)
                {
                    <EditForm Model="_categoryToCreate" OnValidSubmit="CreateCategory">
                        <DataAnnotationsValidator />
                        <div class="form-group mb-5">
                            <label for="categoryName">Category Name</label>
                            <InputText @bind-Value="_categoryToCreate.Name" class="form-control" id="categoryName" />
                        </div>
                        <div class="form-group mb-5">
                            <label for="thumbnailImage">Thumbnail Image</label>

                            @if (_attemptUpload)
                            {
                                <LoadingDot />
                            }
                            else if (_attemptUploadFailed)
                            {
                                <h4 class="text-danger">Failed to upload image: @_reasonUploadFailed</h4>
                            }
                            else
                            {
                                <img src="@($"{ApiEndpoints.ServerBaseUrl}/{_categoryToCreate.ThumbnailImagePath}")" class="admin-crud-form-thumbnail-image" />
                            }

                            <br />
                            <InputFile OnChange="HandleUploadImage" class="form-control mt-4" id="thumbnailImage" />
                        </div>
                        <div class="form-group mb-5">
                            <label for="categoryDescription">Category Description</label>
                            <InputText @bind-Value="_categoryToCreate.Description" class="form-control" id="categoryDescription" />
                        </div>
                        <ValidationSummary />
                        <button class="btn btn-success shadow d-block mt-5 md-f-size-1-5" type="submit">
                            <i class="far fa-save"></i> Save
                        </button>
                    </EditForm>
                }
                <a href="/admin/categories" class="btn btn-primary shadow mt-5 md-f-size-1-5">
                    <i class="fas fa-arrow-left"></i> Back
                </a>
            </div>
        </div>
    </div>
</main>

@code
{
    private Category _categoryToCreate = new Category() { ThumbnailImagePath = "uploads/placeholder.jpg", Posts = new() };
    private bool _attempCreate = false;
    private bool _attemptCreateFailed = false;
    private bool _createSuccessful = false;
    private bool _attemptUpload = false;
    private bool _attemptUploadFailed = false;
    private string _reasonUploadFailed = string.Empty;

    private async Task CreateCategory()
    {
        _attempCreate = true;
        HttpResponseMessage response = await HttpClient.PostAsJsonAsync<Category>(ApiEndpoints.s_categories, _categoryToCreate);
        if (response.StatusCode == HttpStatusCode.Created)
        {
            Category addedCategory = await response.Content.ReadFromJsonAsync<Category>();
            InMemDb.Categories.Add(addedCategory);
            _createSuccessful = true;
        }
        else
        {
            _attempCreate = false;
        }
        _attempCreate = false;
    }

    private async Task HandleUploadImage(InputFileChangeEventArgs e)
    {
        _attemptUpload = true;

        if (e.File.ContentType != "image/jpeg" && e.File.ContentType != "image/png")
        {
            _reasonUploadFailed = "Invalid image type.";
            _attemptUploadFailed = true;
        }
        else if (e.File.Size >= 31000000) // ~30 megabytes
        {
            _reasonUploadFailed = "Image must not larger than 30MB.";
            _attemptUploadFailed = true;
        }
        else
        {
            IBrowserFile uploadedFile = e.File;
            byte[] fileAsByte = new byte[uploadedFile.Size];

            // Fills the content of the image byte array
            await uploadedFile.OpenReadStream(31000000).ReadAsync(fileAsByte);
            string byteString = Convert.ToBase64String(fileAsByte);

            UploadedImage uploadImage = new UploadedImage()
            {
                NewImageExtension = uploadedFile.Name.Substring(uploadedFile.Name.Length - 4),
                NewImageBase64Content = byteString,
                OldImagePath = string.Empty
            };

            HttpResponseMessage response = await HttpClient.PostAsJsonAsync<UploadedImage>(ApiEndpoints.s_imgUpload, uploadImage);

            if (response.StatusCode == HttpStatusCode.Created)
                _categoryToCreate.ThumbnailImagePath = await response.Content.ReadAsStringAsync();
            else
            {
                _reasonUploadFailed = $"Error: {response.StatusCode} - {response.ReasonPhrase}";
                _attemptUploadFailed = true;
            }
        }
        _attemptUpload = false;
        StateHasChanged();
    }
}