@page "/about"

<Navbar />

<main class="container min-vh-90 py-md-5">
    <div class="row p-4 my-md-5 shadow-no-hover">
        <div class="col">
            <h3 class="text-primary">Who am I?</h3>
            <h2>I am a DotNet Developer</h2>
            <p class="d-inline-flex">
                Some text...
                <br />
                <br />
                Some text...
                <br />
                <br />
                Some text...
                <br />
                <br />
                <h2>Background</h2>
                Some text...
            </p>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <a href="assets/docs/test-pdf.pdf" download class="btn btn-primary btn-lg shadow d-flex justify-content-center align-items-center my-4">
                        <i class="fas fa-file-pdf"></i>&nbsp; View Resume
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="/portfolio" download class="btn btn-secondary btn-lg shadow d-flex justify-content-center align-items-center my-4">
                        <i class="fas fa-project-diagram"></i>&nbsp; Projects
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>

<Footer />