<!-- Modal -->
<div class="modal fade" id="informationModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="informationModal">Example Portfolio Project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="carouselWithIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselWithIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselWithIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselWithIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item-active">
                            <a href="assets/img/publicbackgrounds/bg-motherboard-dev.jpg" target="_blank">
                                <img src="assets/img/publicbackgrounds/bg-motherboard-dev.jpg" class="d-block w-100" />
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="assets/img/publicbackgrounds/bg-motherboard.jpg" target="_blank">
                                <img src="assets/img/publicbackgrounds/bg-motherboard.jpg" class="d-block w-100" />
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="assets/img/publicbackgrounds/bg-motherboard.jpg" target="_blank">
                                <img src="assets/img/publicbackgrounds/bg-motherboard.jpg" class="d-block w-100" />
                            </a>
                        </div>
                    </div>
                    <button type="button" class="carousel-control-prev" data-bs-slied="prev" data-bs-target="#carouselWithIndicators">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button type="button" class="carousel-control-prev" data-bs-slied="next" data-bs-target="#carouselWithIndicators">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <p class="text-muted my-2">
                    Click an image to view
                </p>
                <a href="https://dotnet.microsoft.com/apps/aspnet" class="btn btn-primary btn-lg d-block my-5 shadow" target="_blank">
                    <i class="fas fa-laptop-code"></i>Live Demo
                </a>
                <a href="https://dotnet.microsoft.com/apps/aspnet" class="btn btn-primary btn-lg d-block my-5 shadow" target="_blank">
                    <i class="fab fa-github-square"></i>Github Repo
                </a>
                <h1 class="mt-5">Description</h1>
                <p>
                    Some text...
                    <br />
                    <br />
                    Some text...
                </p>
                <h1 class="mt-5">Features</h1>
                <ul>
                    <li>Feature 1</li>
                    <li>Feature 2</li>
                    <li>Feature 3</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-lg shadow" data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>